[push]
    default = matching
[core]
    excludefiles = /Users/kelley/.gitignore
    excludesfile = /Users/kelley/.gitignore_global
    pager = less -+F -+X
[alias]
    s=status
    graph = log --graph --all --pretty=format:'[%h] %s (%ar)'
    l = log --pretty='format:%h %cD %s' --shortstat --pretty=oneline --abbrev-commit
    ll = log --pretty='format:%h %cD %s' --stat --pretty=oneline --abbrev-commit
    diffw = diff --ignore-space-change
[user]
    name = dankelley
    email = kelley.dan@gmail.com
[branch]
    autosetupmerge = true
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[credential]
    helper = cache --timeout=7200
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[github]
    user = dankelley
[init]
    defaultBranch = main
